.no-products-found {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2em;
  font-weight: bold;
  min-height: 50vh;
}

.products-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(200px, 100% / 5), 1fr));
  width: 100%;
  gap: 2em;
}

.products-grid-container .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-weight: bold;
  text-align: center;
}

.products-grid-container .grid-item .grid-item-content {
  border: solid 2px gray;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 8px;
  padding: 2em 1em;
  min-width: 300px;
}

.products-grid-container .grid-item .grid-item-content .grid-item-content-description {
  padding-top: 2em;
  color: #333;
}

.products-grid-container .grid-item .grid-item-content .grid-item-content-description .price {
  color: royalblue;
  padding-top: 1em;
}
