.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  font-size: calc(10px + 2vmin);

  background-color: rgba(22, 83, 163, 0.2);
}

.App-header-link {
  text-decoration: none;
  color: inherit;
}
