.product-details-container {
  display: flex;
  width: 100%;
  min-height: 500px;
  flex-wrap: wrap;
}

.product-details-column-image {
  flex: 50%;
  flex-direction: column;
}

.product-details-column-details {
  flex: 50%;
  flex-direction: column;
}
