.product-details-container {
  display: flex;
  width: 100%;
  min-height: 500px;
  flex-wrap: wrap;
}

.product-details-column-image {
  flex: 50%;
  flex-direction: column;
}

.product-details-column-details {
  flex: 50%;
  flex-direction: column;
  text-align: start;
}

.product-details-column-details > *:not(:last-child) {
  margin-bottom: 2em;
}

.product-details-column-details-description > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.product-details-container select {
  text-align: left;
  width: 200px;
  padding: 0.7em;
}

.product-details-form > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.product-details-form-field {
  display: flex;
  flex-wrap: wrap;
}

.product-details-form-field-label {
  max-width: 250px;
  flex: 2;
}

.product-details-form-field-item {
  max-width: 200px;
  flex: 8;
}
.product-details-submit {
  padding: 0.5em 2em;
}
