.product-details-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  font-size: calc(10px + 1vmin);
}

.product-details-column-image {
  flex: 50%;
  flex-direction: column;
}

.product-details-column-details {
  flex: 50%;
  flex-direction: column;
  text-align: start;

  background: #d8e9e4;
  border: solid 2px gray;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 8px;
  padding: 2em 1em;
}

.product-details-column-details > *:not(:last-child) {
  margin-bottom: 2em;
}

.product-details-column-details-description > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.product-details-column-details-description > .model {
  font-weight: bold;
}

.product-detail-description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-detail-description-item > .label {
  font-weight: bold;
  width: 100%;
}

.product-detail-description-item > .value {
  width: 100%;
}

.product-details-container select {
  width: 100%;
  padding: 0.7em;
}

.product-details-form > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.product-details-form-actions {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.product-details-form-actions-submit {
  text-transform: uppercase;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: #007fff;
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  cursor: pointer;
  border: none;
}

.product-details-form-actions-submit:hover {
  background-color: #0072e5;
}

@media only screen and (min-width: 768px) {
  .product-details-column-image > .mobile-phone-image {
    min-height: 400px;
  }

  .product-detail-description-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .product-details-form-actions {
    margin-top: 4em;
    display: flex;
    justify-content: flex-end;
  }

  .product-detail-description-item > .label {
    flex: 1;
    margin-right: 1em;
  }

  .product-detail-description-item > .value {
    flex: 4;
  }

  .product-details-container select {
    text-align: left;
    width: 200px;
  }
}
