* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-main-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
