.productDetails-page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  font-weight: bold;
}

.productDetails-page-header > * {
  margin-right: 1em;
}
